.idea
*.iml
target/
test-output/
dependency-reduced-pom.xml
pom.xml.releaseBackup
release.properties
*.log
*.versionsBackup
.tags
.tags_sorted_by_file
.DS_Store

.ensime*
*.sublime*

*.orig
Gemfile.lock

/demo-data-checkout
*.sw?

cache
